body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    width: 50%;
    margin: 20px auto;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(5, 1fr);
        width: 80%;
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }
}



.num-button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.num-button:hover {
    background-color: #45a049;
}

.reserved {
    background-color: #ccc;
    cursor: not-allowed;
}

#form-container {
    margin-top: 20px;
}

.btn-liste {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
}

.btn-liste:hover {
    background-color: #0056b3;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

button{
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

input{
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}